.contactBlock {
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
.firstWords {
    color: #fdf2f2;
    font-size: 5vw;
    letter-spacing: 10px;
    font-weight: bold;
    background: linear-gradient(to right, #c4c4c4, #6a6a6a);
    -webkit-background-clip: text;
    color: transparent;
}
.text {
    text-align: center;
}
.mainTitle {
    font-family: 'Righteous', cursive;
    background: url('https://media.giphy.com/media/FE0WTM8BG754I/giphy.gif') center center no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    letter-spacing: 10px;
    background-size: cover;
    margin: 0;
    color: transparent;
}

.mainDiscription {
    font-family: 'Caveat', cursive;
    color: transparent;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0;
    background: linear-gradient(to right, #c4c4c4, #6a6a6a);
    -webkit-background-clip: text;
}

.mainFoto {
    width: 300px;
    height: 400px;
    background:url("https://sun9-64.userapi.com/impf/c837139/v837139878/4672d/ekI2ARGKkGg.jpg?size=640x640&quality=96&sign=5c00dd78af723ec21de1e55e8121b437&type=album");
    background-position: center;
    background-size: cover;
}