@keyframes animatedBackground {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}

.mainBlock {
    height: 100vh;
    background-color: khaki;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
    animation: animatedBackground 60s linear infinite;
    -moz-animation: animatedBackground 60s linear infinite;
    -webkit-animation: animatedBackground 60s linear infinite;
    -o-animation: animatedBackground 60s linear infinite;
    background-size: cover;
}

.text {
    width: 300px;
    background-color: lightyellow;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightyellow;
}
