.mainBlock {
    height: 100vh;
    background-color: khaki;
}

.text {
    width: 300px;
    background-color: lightyellow;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightyellow;
}
